[Unit]
Description=Start CMT_RVNA AppImage in socket mode
After=network.target

[Service]
Type=simple
User=eigsep
WorkingDirectory=/home/eigsep/eigsep/RVNA
ExecStart=/usr/bin/xvfb-run -a /home/eigsep/eigsep/RVNA/CMT_RVNA_22.4.3_x86_64.AppImage EnableSocket:5025 InvisbleMode
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

